//Styling for Minion game
* {
  box-sizing: border-box;
  background-color: #E64A19;
}
#head {
  h1 {
    margin-top: 2em;
    text-align: center;
    font-size: 3.5em;
    text-color: white;
    font-family: 'Josefin Slab', serif;
    font-weight: lighter;
  }
  h2 {
    margin-top: .5em;
    text-align: center;
    font-size: 1.8em;
    font-style: italic;
    font-family: 'Josefin Slab', serif;
    font-weight: lighter;
  }
}

#board {
  margin: 0 auto;
  margin-top: 8em;
  width: 100vmin;
  text-align: center;

  .row {
    height: 10vmin;
  }

  .cell {
    display: inline-block;
    width: 10vmin;
    height: 10vmin;
    background-color: #ecf0f1;
    border: solid 1px  #7f8c8d;
  }
  img {
    text-align: center;
    max-width:100%;
  }
  i {
    font-size: 8vmin;
    line-height: 10vmin;

    &.fa-cubes {
      color: green;
    }
  }
}
