//Styling for Minion game
* {
  box-sizing: border-box;
  background-color: #E64A19;
}

#timer-container {
  width: 200px;
  position: absolute;
  top: 30px;
  right: 30px;
}

#head {
  h1 {
    margin-top: 1em;
    text-align: center;
    font-size: 3.5em;
    text-color: white;
    font-family: 'Josefin Slab', serif;
    font-weight: lighter;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
  }
}

#board {
  margin: 0 auto;
  margin-top: 2em;
  width: 100vmin;
  text-align: center;

  .row {
    height: 12vmin;
  }

  .cell {
    display: inline-block;
    width: 12vmin;
    height: 12vmin;
    background-color: #ecf0f1;
    border: solid 1px  #7f8c8d;
  }
  img {
    text-align: center;
    max-width:100%;
    max-height: 100%;
  }
  i {
    font-size: 8vmin;
    line-height: 10vmin;

    &.fa-cubes {
      color: green;
    }
  }
}

footer {
  h2 {
    margin-top: 2em;
    text-align: center;
    font-size: 1.8em;
    font-style: italic;
    font-family: 'Josefin Slab', serif;
    font-weight: lighter;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
  }
}
