* {
  box-sizing: border-box; }

#head {
  text-align: center;
  font-size: 20px;
  color: blue; }

#board {
  margin: 0 auto;
  margin-top: 8em;
  width: 100vmin;
  text-align: center; }
  #board .row {
    height: 10vmin; }
  #board .cell {
    display: inline-block;
    width: 10vmin;
    height: 10vmin;
    background-color: #ecf0f1;
    border: solid 1px  #7f8c8d; }
  #board i {
    font-size: 8vmin;
    line-height: 10vmin; }
    #board i.fa-cubes {
      color: green; }
