* {
  box-sizing: border-box;
  background-color: #E64A19; }

#head h1 {
  margin-top: 2em;
  text-align: center;
  font-size: 3.5em;
  text-color: white;
  font-family: 'Josefin Slab', serif;
  font-weight: lighter; }

#board {
  margin: 0 auto;
  margin-top: 8em;
  width: 100vmin;
  text-align: center; }
  #board .row {
    height: 10vmin; }
  #board .cell {
    display: inline-block;
    width: 10vmin;
    height: 10vmin;
    background-color: #ecf0f1;
    border: solid 1px  #7f8c8d; }
  #board img {
    text-align: center;
    max-width: 100%; }
  #board i {
    font-size: 8vmin;
    line-height: 10vmin; }
    #board i.fa-cubes {
      color: green; }
